@model WiseWay.Core.User

@{
    ViewData["Title"] = "Edit";
    ViewData["Name"] = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="card-header"><strong>Update User</strong></div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" asp-for="UserName"></label>
                        <div class="col-md-9">
                            <input class="form-control"  type="text" asp-for="UserName" placeholder="User Name">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" asp-for="Password"></label>
                        <div class="col-md-9">
                            <input class="form-control"  type="password" asp-for="Password" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" asp-for="FirstName"></label>
                        <div class="col-md-9">
                            <input class="form-control"  type="text" asp-for="FirstName" placeholder="First Name">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" asp-for="LastName"></label>
                        <div class="col-md-9">
                            <input class="form-control"  type="text" asp-for="LastName" placeholder="Last Name">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" asp-for="Email"></label>
                        <div class="col-md-9">
                            <input class="form-control"  type="email" asp-for="Email" placeholder="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" asp-for="PhoneNo"></label>
                        <div class="col-md-9">
                            <input class="form-control"  type="number" asp-for="PhoneNo" placeholder="Phone No.">
                            <span asp-validation-for="PhoneNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" asp-for="Address"></label>
                        <div class="col-md-9">
                            <input class="form-control"  type="text" asp-for="Address" placeholder="Address">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" asp-for="UserType"></label>
                        <div class="col-md-9">
                            <select class="form-control" id="UserType" name="UserType" asp-for="UserType">
                                <option value="User">User</option>
                                <option value="Admin">Admin</option>
                            </select>
                            <span asp-validation-for="UserType" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-primary" type="submit"> Submit</button>
            <button class="btn btn-sm btn-danger" type="button" onclick="location.href='@Url.Action("Index", "User")'"> Back to List</button>
        </div>
    }
</div>


